workspace-general/dtl/src/main/mule/dtl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="271c3285-43a0-4b2b-a3f7-ed38892f408f" file="dev-config-properties.yaml" />
	<flow name="dtlFlow" doc:id="ba3baa46-a766-4407-aadc-84b869bd0493" >
		<jms:listener doc:name="Listener" doc:id="f86517d8-5e96-4fb3-8121-e23d2e003f20" config-ref="JMS_Config" destination='${jms.queues.error.env} ++ "." ++ ${jms.queues.error.destination}' ackMode="AUTO">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="Transform Message" doc:id="c677b01b-f217-4fce-8ec0-acd85cabd15f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="header" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationID: payload.header.correlationID,
	timestamp: payload.header.timestamp,
	caller: payload.header.caller,
	flowName: payload.header.flowName
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
